services:
  mongodb:
    image: mongo:latest
    container_name: mongodb_container
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      - MONGO_INITDB_DATABASE=kat-overflow
    command: [ "--replSet", "rs0", "--bind_ip_all" ]
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "try { rs.status().ok } catch (e) { rs.initiate({_id: 'rs0', members: [{_id: 0, host: '127.0.0.1:27017'}]}) }" ]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: kat-overflow-app
    ports:
      - "3000:3000"
    depends_on:
      mongodb:
        condition: service_healthy
    environment:
      - MONGODB_URI=mongodb://mongodb:27017/kat-overflow?replicaSet=rs0

volumes:
  mongodb_data:
